.footer {
    background-color: #FB6B90;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    height: 4rem;
}

.footerTitle {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    font-family: "Josefin Sans", serif;
}

@media screen and (max-width: 768px) and (max-width: 1023px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bolder;
        height: 4rem;
    }

    .footerTitle {
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
        font-family: "Josefin Sans", serif;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bolder;
        height: 4rem;
    }

    .footerTitle {
        font-size: 0.8rem;
        color: #ffffff;
        text-align: center;
        font-family: "Josefin Sans", serif;
    }
}