.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FB6B90;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

.title {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    font-family: "Josefin Sans", serif;
}

@media screen and (max-width: 768px) and (max-width: 1023px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bolder;
        height: 4rem;
    }

    .title {
        font-size: 1.5em;
        color: #ffffff;
        text-align: center;
        font-family: "Josefin Sans", serif;
    }
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bolder;
        height: 4rem;
    }

    .title {
        font-size: 1.3em;
        color: #ffffff;
        text-align: center;
        font-family: "Josefin Sans", serif;
    }
}