@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.josefin-sans {
    font-family: "Josefin Sans", serif;
}

.outfit {
    font-family: "Outfit", serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.esq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 60%;
    margin-top: 2rem;
}

.dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
}

@media screen and (max-width: 768px) and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .esq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin-top: 2rem;
        width: 90%;
    }

    .dir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .esq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin-top: 2rem;
        width: 90%;
    }

    .dir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
    }
}